if TARGET_PHOENIX_ARTIX7

config SYS_BOARD
    default "artix7"

config SYS_VENDOR
    default "phoenix"

config SYS_CONFIG_NAME
    default "phoenix_artix7"

config SYS_TEXT_BASE
    default 0x80000000

endif
