/dts-v1/;

/ {
	#address-cells = <1>;
	#size-cells = <1>;
	compatible = "phoenix,artix7";

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		cpu@0 {
			device_type = "cpu";
			compatible = "mips,m14Kc";
			clocks	= <&ext>;
			reg = <0>;
		};
	};

	ext: ext {
		compatible = "fixed-clock";
		#clock-cells = <0>;
	};
};

/ {
	compatible = "phoenix,artix7";

	/** this is the ddr3 ram */
	memory: memory@0 {
		device_type = "memory";
		reg = <0x0 0x8000000>;
	};

	cpuintc: interrupt-controller {
		#address-cells = <0>;
		#interrupt-cells = <1>;
		interrupt-controller;
		compatible = "mti,cpu-interrupt-controller";
	};

	aliases {
		console = &serial0;
                serial = &serial0;
		spi0 = &spi_flash;
                eth = &axi_ethernetlite;
	};

	serial0: serial@bfd00000 {
		compatible = "ns16550";
		reg = <0xbfd00000 0x1000>;
		// refer to doc/device-tree-bindings/serial/8250.txt
		// the start of the address offset
                reg-offset = <0>;
                reg-shift = <2>;
                clock-frequency = <50000000>;
                current-speed = <115200>;
		interrupts = <5>;
                interrupt-parent = <&cpuintc>;
	};
	rom: rom@bfc00000 {
		device-type = "rom";
		reg = <0xbfc00000 0x1000000>;
	};

 	spi_flash: spi@bff00000 {
                #address-cells = <1>;
                #size-cells = <0>;
 		compatible = "xlnx,xps-spi-2.00.a";
 		reg = <0xbff00000 0x1000000>;
 		fifo-size = <256>;
 		xlnx,spi-mode = <0>;
 
                 spi-flash@0 {
                     compatible = "spi-flash", "jedec,spi-nor";
                     reg = <0>;
		     //TODO: change SPI frequency
                     spi-max-frequency = <30000000>;
                 };
 	};

	axi_ethernetlite: ethernet@bfe00000 {
		compatible = "xlnx,xps-ethernetlite-1.00.a";
		device_type = "network";
		// interrupt_parent = <&cpuintc>;
		// interrupt = <3>;
		local-mac-address = [e6 c7 26 bf e2 94];
		phy-handle = <&phy0>;
		reg = <0xbfe00000 0x10000>;
		xlnx,duplex = <0x1>;
		xlnx,include-global-buffers = <0x1>;
		xlnx,include-internal-loopback = <0x0>;
		xlnx,include-mdio = <0x1>;
		xlnx,instance = "axi_ethernetlite_inst";
		xlnx,rx-ping-pong = <0x1>;
		xlnx,s-axi-id-width = <0x1>;
		xlnx,tx-ping-pong = <0x1>;
		xlnx,use-internal = <0x0>;
		mdio {
				#address-cells = <1>;
				#size-cells = <0>;
				phy0: phy@1 {
						compatible = "davicom, dm9161";
						device_type = "ethernet-phy";
						reg = <1>;
				} ;
		} ;
	};
};
